# NodeJS thing

node_modules/

# Configs and some other stuff

ops.yml
config.yml
crash-reports/
world/

# bedrock-protocol thing

*_packetReadError.txt

# Plugin related

plugins/
pluginData/
!types/plugins

# Fix that FallDamage.js and GeneratorType.js are getting ignored

!src/world/FallDamage.js
!src/world/GeneratorType.js