# NodeJS modules

node_modules/

# Configs

ops.yml
config.yml
crash-reports/

# bedrock-protocol errors

*_packetReadError.txt

# Plugin related

plugins/
pluginData/
!types/plugins

# Do not ignore anything in /src/ or !types/*

!src/*
!types/*
