name: Build

on:
  push:
  pull_request:

permissions:
  actions: write

jobs:
  format:
    runs-on: ubuntu-latest
    name: Format Files
    steps:
      - uses: actions/checkout@v3
      - name: Prettier
        run: |
          npx prettier --write .
          git config --global user.name "andriycraftbot"
          git config --global user.email "124494132+andriycraftbot@users.noreply.github.com"
          git add .
          git commit -m "Formatting: Builded project"
          git push
      - with:
          github_token: ${{ secrets.PAT }}
